      <ion-modal-view ng-controller="commentTaskCtrl">
        <ion-pane "class="messaging-view">
    <ion-header-bar class="bar-calm">
       <button class="button button-icon ion-close" ng-click="hidecommentTask()"></button>
    </ion-header-bar>
   <ion-pane class="messaging-view">
   
    <ion-content>

      <div ng-repeat="message in messages"
           ng-class="{other: message.userId != myId}"
           class="messages">

        <div >
          <span ng-model="data.message" class="spancomment">{{ message.text }}</span>
        </div>

        <div >{{message.time}}</div>


      </div>

    </ion-content>

    <ion-footer-bar keyboard-attach class="bar-stable item-input-inset">
      <label class="item-input-wrapper">
        <input type="text" placeholder="Yorum Yap"   ng-model="data.message"/>
      </label>
      <button class="button button-clear" ng-click="sendMessage()">
        Gönder
      </button>
    </ion-footer-bar>
  </ion-pane>

</ion-modal-view>
  