<ion-modal-view ng-controller="subTaskmodal">
 <ion-header-bar class="bar bar-header bar-calm">
          <h1 class="title">Alt Görev Ekle</h1>
          <button class="button button-icon ion-close" ng-click="hideSubModal()"></button>
        </ion-header-bar>
   <ion-content padding="true"> 

<div class="list">
    <label  class="item">
    <div class="input-label"><b>PROJE ADI: {{subTaskmodal.subTask.ProjectName}}</b></div>
  </label>

  <label class="item item-input item-select">
    <div class="input-label">
    <b> TÜR</b>
    </div>
 <select ng-model="type" required data-ng-options="type as type.AD for type in types" 
    ng-change="typechange(type)">
<option value="">Hangi Türde İşlem Yapacağınızı Seçiniz</option>
</select>
  </label>
<label class="item item-input item-select">
    <div class="input-label">
      <b>EKİP</b>
    </div>
    <select ng-model="team"  required data-ng-options="team as team.name for team in subTaskmodal.subTask.team" 
    ng-change="teamchange(team)">
    <option value="">Proje Ekibini Belirleyiniz</option>
    </select>
  </label>

       <div class="row item"  ng-if="checkteam()">
        <div class="col col-50 clock" ng-repeat="taskteam in taskteams" ng-model="taskteam">
           <label class="item" ng-click="removeTaskteam(taskteam)"><b>{{taskteam.name}}</b><i class="icon ion-close" ></i></label>    
        </div>
      </div>
   <label class="item item-input item-stacked-label">
    <span class="input-label"><b>BAŞLIK<b></span>
    <input  type="text" ng-model="subTask.Title" placeholder="Görev Başlığını Giriniz">
  </label>

  <label  class="item item-input item-stacked-label">
    <span class="input-label"><b>AÇIKLAMA</b></span>
    <input ng-model="subTask.taskDescription" type="text" placeholder="Görev açıklamasını giriniz">
  </label>

 <div class="item item-input item-stacked-label">
    <span class="input-label"><b>BAŞLANGIÇ-BİTİŞ TARİHİ</b></span> 

  <label  class="item item-input ion-ios-calendar-outline"  ion-datetime-picker 
 ng-model="subTask.tasksDate">{{subTask.tasksDate| date: "yyyy-MM-dd H:mm:ss"}}      
 </label>


   <label  class="item item-input ion-ios-calendar-outline"   
   ion-datetime-picker ng-model="subTask.taskeDate">{{subTask.taskeDate| date: "yyyy-MM-dd H:mm:ss"}} 
 </label>

 </div>

  <button   class="button button-block button-calm" ng-click="saveTask()"><b>Kaydet<b></button>

</div>


</ion-content>

</ion-modal-view>
 