@model Starfighter.Models.Ship

@{
    ViewData["Title"] = "Create";
}



<div class="row">
    <div class="container ship-form">
        <div class="ship-image">
            <img src="https://image.ibb.co/kUagtU/rocket_contact.png" alt="rocket_ship" />
        </div>
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <h3>Create a Ship</h3>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <input type="text" asp-for="Name" class="form-control" placeholder="Ship Name *" value="" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="text" name="ImageLink" class="form-control" placeholder="Ship Image" value="" />
                    </div>
                    <div class="form-group">
                        <input type="submit" name="btnSubmit" class="btnship" value="Crate" />
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <textarea name="Description" class="form-control" placeholder="Ship Description *" style="width: 100%; height: 150px;"></textarea>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>



<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
