
        <ion-header-bar class="bar bar-header bar-calm">
          <h1 class="title">Görev Bilgileri</h1>
          <button class="button button-icon ion-close" ng-click="hideModal()"></button>
        </ion-header-bar>
        <ion-content class="padding">

<div class="item wrapping-list" ng-model="infoModal.uppertask" ng-if="infoModal.task.RankID!=0">
<b>Üst Görev Bilgileri</b></br>
 Proje Adı: {{infoModal.uppertask.ProjectName}}</br>
 Başlık: {{infoModal.uppertask.Title}}</br>
 Açıklama: {{infoModal.uppertask.Description}}</br>
 Tür: {{infoModal.uppertask.Type}}</br>
 Bitiş Tairihi: {{infoModal.uppertask.endDate |date: "yyyy-MM-dd H:mm"}}</br>

  <div class="row item">
        <div class="col col-50 clock" ng-repeat="team in infoModal.uppertask.team" ng-model="team">
        <b>{{team.name}}</b>
        </div>
      </div>

</div>



<ion-list" class="wrapping-list" ng-model="infoModal.task">
  <ion-item><b>PROJE ADI:</b>{{infoModal.task.ProjectName}}</ion-item>
    <ion-item>
     <b>TÜR :</b>{{infoModal.task.Type}}
    </ion-item>

  <div class="row item">
        <div class="col col-50 clock" ng-repeat="team in infoModal.task.team" ng-model="team"><b>
          {{team.name}}</b>
        </div>
      </div>
  
    <ion-item class="item item-text-wrap"><b>BAŞLIK :</b>{{infoModal.task.Title}}</ion-item>
    <ion-item class="item-text-wrap"><b>AÇIKLAMA :</b>
  {{infoModal.task.Description}}
</ion-item>

 <ion-item><b>Başlangıç Tarihi :</b>{{infoModal.task.startDate |date:"yyyy-MM-dd H:mm"}}</ion-item>
 <ion-item><b>Bitiş Tarihi :</b>{{infoModal.task.endDate |date:"yyyy-MM-dd H:mm"}}</ion-item>
</ion-list>
        </ion-content>

  