       
<ion-modal-view>
        <ion-header-bar class="bar bar-header bar-calm">
          <h1 class="title">Görev Ekle</h1>
          <button class="button button-icon ion-close" ng-click="hideModal()"></button>
        </ion-header-bar>
        <ion-content class="padding">


<div class="list" ng-controller="ModalCtrl">

    <label  class="item item-input item-select">

    <div class="input-label"><b>PROJE ADI</b></div>
  <select required data-ng-options="project as project.PROJEAD for project in projects " 
  ng-model="item" ng-change="onchange()">
      <option value="">Proje Seçiniz</option>
  </select>
  </label>
  <label class="item item-input item-select">
    <div class="input-label">
    <b> TÜR</b>
    </div>

    <select ng-model="type" required data-ng-options="type as type.AD for type in types" 
    ng-change="typechange()">
<option value="">Hangi Türde İşlem Yapacağınızı Seçiniz</option>
</select>
  </label>
<label class="item item-input item-select">
    <div class="input-label">
      <b>EKİP</b>
    </div>
    <select ng-model="team" required data-ng-options="team as team.name for team in teams" 
    ng-change="teamchange(team)">
    <option value="">Proje Ekibini Belirleyiniz</option>
    </select>

  </label>

      <div class="row item"  ng-if="checkteam()">
        <div class="col col-50 clock" ng-repeat="taskteam in taskteams" ng-model="taskteam">
           <label class="item" ng-click="removeTaskteam(taskteam)"><b>{{taskteam.name}}</b><i class="icon ion-close" ></i></label>    
        </div>
      </div>
   <label class="item item-input item-stacked-label">
    <span class="input-label"><b>BAŞLIK<b></span>
    <input id="example" ng-model="taskTitle" type="text" placeholder="Görev Başlığını Giriniz">
  </label>

  <label  class="item item-input item-stacked-label">
    <span class="input-label"><b>AÇIKLAMA</b></span>
    <input ng-model="taskDescription" type="text" placeholder="Görev açıklamasını giriniz">
  </label>

 <label class="item item-input item-stacked-label">
    <span class="input-label"><b>BAŞLANGIÇ-BİTİŞ TARİHİ</b></span>
    
  <label  class="item item-input ion-ios-calendar-outline"  ion-datetime-picker 
  ng-model="tasksDate"> {{tasksDate| date: "yyyy-MM-dd H:mm:ss"}} 
       
 </label>
   <label  class="item item-input ion-ios-calendar-outline"   
   ion-datetime-picker ng-model="taskeDate">{{taskeDate| date: "yyyy-MM-dd H:mm:ss"}} 
 </label>
  <button   class="button button-block button-calm" ng-click="saveTask()"><b>Kaydet<b></button>
</div>


  </label>

        </ion-content>
      </ion-modal-view>
  