<ion-view title="ANA GÖREVLER">
<ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon button-clear ion-navicon" ></button>
  </ion-nav-buttons> 
  <ion-nav-buttons side="right">       
 <button class="button button-icon ion-plus" ng-click="openModal()">
        </button>
        </ion-nav-buttons> 
   <ion-content padding="true"> 
        <div ng-controller="boxCtrl">

        <ion-list   can-swipe="true" ng-repeat="task in tasks" ng-click="infoItem(task)">
                    <ion-item item="task" ng-model="task" >
                    <label class="note-date">{{task.startDate |date: "yyyy-MM-dd H:mm"}}</label>
                    <label class="note-date">{{task.endDate |date: "yyyy-MM-dd H:mm"}} <label class="subCount">{{task.subCount}}</label></label></br>
                   
                      {{task.Title}}
                    <ion-option-button class="button-royal icon ion-eye" ng-click="callSubTask(task)"> </ion-option-button>

                        <ion-option-button ng-click="addSubTask(task)" 
                        class="button-calm icon ion-plus"></ion-option-button>
                        <ion-option-button  ng-click="onItemDelete(task)" 
                        class="button-assertive icon ion-trash-a"></ion-option-button>
                         <ion-option-button ng-click="finishItem(task)" class="button-positive icon ion-checkmark-round"></ion-option-button>
                        <ion-option-button ng-click="sendMessage(task)" class="button-energized icon ion-email"></ion-option-button>
                        
                    </ion-item>
                 
                </ion-list>
       
<ion-infinite-scroll on-infinite="loadMore()" distance="1%"  ng-if="noItemsAvailable"></ion-infinite-scroll>  

  </ion-content>
</ion-view>
